.navbar {
    background-color: blue;
    color: white;/
}
body{
    background-color: black;
}
.papa{
    text-align: center;
    width: auto;
    padding: 40px;
}
.text{
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    background-color: rgb(31, 122, 226);
    border-radius: 10px;
}
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    text-align: center; 
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    background-color: black;
}

.container2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
